@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --electric-blue: #373e98;
    --hot-pink: #f16775;
    --shocking-yelow: #fee36e;
    --chartreuse-ish: #ceb92c;
    --darkest-gray: #2a2a2a;
    --darkest-gray-alfa: rgba(42, 42, 42, .85);
    --light-border: #E5E7EB;
    --blue-border:rgb(42, 83, 245);
    --red-border: rgb(235, 51, 51);
    --light-red: rgb(237, 140, 140);
}


body {
    background-color: var(--electric-blue);
    color: white;
    display: flex;
    /* flex-flow: column wrap; */
    min-height: 100vh;
}



#banner {
    flex: 1;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

#form {
    flex: 2;
}


.upper-case {
    text-transform: uppercase;
}

.header-1 {
    font-size: 2rem;
    position: relative;
}

.header-2 {
    font-size: 1.2rem;
}

.font-400 {
    font-weight: 400;
}

.padding-minor {
    padding: 0.5rem 1rem;
}

.padding-right-40 {
    padding-right: 2rem;
}

.btn-submit {
    border-radius: 10px;
    border-style: none;
    background-color: var(--chartreuse-ish);
    cursor: pointer;
}

.btn-container {
    position: relative;
}


.btn-submit:hover {
    background-color: var(--shocking-yelow);
}

.login-link:link {
    text-decoration: inherit;
    color: var(--shocking-yelow);
    cursor: pointer;
}

.login-link:visited {
    text-decoration: inherit;
    color: var(--shocking-yelow);
    cursor: pointer;
}

.login-link:hover {
    text-decoration: inherit;
    color: var(--chartreuse-ish);
    cursor: pointer;
}

.field {
    display: flex;
    flex-direction: column;
}

.grid-2-col {
    /* display: flex;
    flex-flow: column wrap; */
    display: grid;
    grid-template-columns: repeat(2, minmax(7.5rem, 15rem));
    row-gap: 1rem;
    column-gap: 4rem;
}

.padding-main {
    padding: 4rem 3rem 4rem 3rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

.header-1::after {
    content: 'ヒ';
    position: absolute;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.077);
}

.padding-top-1 {
    padding-top: 1rem;
}

.block {
    display: block;
}

.input {
    border-radius: 5px;
    border-style: none;
    border-color: var(--light-border);
    padding: 0.3rem;
}

label {
    padding-bottom: 0.7rem;
}


.jp-text {
    font-size: 2.3rem;
    font-family: 'Comfortaa', cursive;
}

#banner-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-gray-alfa);
    height: 15%;
    width: 100%;
    top: 20%;
}

.input:focus {
    outline: none;
    border: solid 2px var(--blue-border); 
    margin: -2px;
    box-shadow: 2px 2px 2px var(--darkest-gray);
}

.error {
    border: solid 2px var(--red-border);
    margin: -2px;
}

.password-error::after {
    content: "* Passwords do not match";
    font-size: 0.9rem;
    color: var(--light-red);
}

@media screen and (max-width: 700px) {
    body {
        flex-flow: column wrap;
    }

    .grid-2-col {
        display: flex;
        flex-flow: column wrap;
    }

    #banner {
        flex: 2;
        background: url(../images/background.jpg) no-repeat;
        background-size: cover;
        position: relative;
    }

    #banner-text {
        font-size: 0;
    }

}